:root {
  --orange: #f48d69;
  --orange-light: #ffb591;
  --orange-pastel: #f8ddce;
  --blue: #3e14d6;
  --blue-light: #6259fa;
  --blue-pastel: #cacefc;
  --green: #5be080;
  --green-light: #b9f8b9;
  --green-pastel: #dffcdf;
  --grey: #16162a;
  --grey-medium: #3f3f50;
  --grey-light: #a5a5ac;
  --grey-pastel: #e3e3e5;
}

@font-face {
  font-family: "sharpiro";
  src: url("../fonts/sharpiro-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sharpiro";
  src: url("../fonts/sharpiro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "uniform";
  src: url("../fonts/uniform-pro-con-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "uniform";
  src: url("../fonts/uniform-pro-con-black.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "sharpiro";
}
