@use "sass/fonts/uniform/uniform.css";
@use "sass/fonts/sharpiro/sharpiro.css";

:root {
  --orange: #f48d69;
  --orange-light: #ffb591;
  --orange-pastel: #f8ddce;
  --blue: #3e14d6;
  --blue-light: #6259fa;
  --blue-pastel: #cacefc;
  --green: #5be080;
  --green-light: #b9f8b9;
  --green-pastel: #dffcdf;
  --grey: #16162a;
  --grey-medium: #3f3f50;
  --grey-light: #a5a5ac;
  --grey-pastel: #e3e3e5;
}

* {
  font-family: "uniformregular";
}

// just to test out that sharpiro also works
input {
  font-family: "sharpiroregular";
}
