@use "sass/abstracts";
body {
  background-color: var(--grey);
  background-image: url("ezone-header.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  place-content: center;
  width: 100%;
  margin: 80px auto 0 auto;
  padding: 0 20px;

  h1 {
    color: white;
    text-align: left;
    margin: 3rem 0 1rem 0;
    font-size: 3.5rem;
    max-width: 600px;
  }

  h2 {
    color: white;
    text-align: left;
    font-size: 2rem;
    max-width: 600px;
  }
}
