@use "sass/abstracts";
@use "sass/abstracts/mixins";
body {
  background-color: var(--grey);
  background-image: url("../ezone-header.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  place-content: center;
  max-width: 100%;
  overflow-x: hidden;
  margin: 80px auto;
  //padding: 0 20px;

  h1 {
    color: var(--orange-light);
    text-align: left;
    margin: 3rem 0 1rem 0;
    font-size: 2.8rem;
    max-width: 600px;
    @include mixins.maxbreakpoint(500px) {
      font-size: 2.5rem;
    }
  }

  h2 {
    color: var(--orange-light);
    text-align: left;
    font-size: 1.5rem;
    max-width: 600px;
    margin-bottom: 20px;
    @include mixins.maxbreakpoint(500px) {
      font-size: 1.2rem;
    }
  }
  h3 {
    color: var(--orange-pastel);
    text-align: center;
    font-size: 2.5rem;
    @include mixins.maxbreakpoint(500px) {
      font-size: 2rem;
    }
  }
}
