@use "sass/abstracts";
@use "sass/abstracts/mixins";
#progress {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  border-bottom: 2px solid white;
  height: 50%;
  margin: 0 auto;

  .dot {
    width: 50px;
    height: 50px;
    background-color: var(--grey-medium);
    color: var(--grey);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bolder;
    transition: all 1s;
    font-size: 1rem;
    @include mixins.maxbreakpoint(500px) {
      width: 30px;
      height: 30px;
      font-size: 0.9rem;
    }
  }
  .dot:last-of-type {
    @include mixins.maxbreakpoint(500px) {
      font-size: 0.5rem;
    }
  }
  .chosen {
    background-color: var(--grey-light);
    box-shadow: white 0px 0px 10px;
  }
}
