body {
  background: #16152b;
  display: grid;
  place-content: center;

  h1 {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-size: 3.5rem;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 0 20rem 0 20rem;
  }
}

.form_place {
  display: grid;
  place-content: center;

  form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2rem;
    width: 30vw;
  }

  fieldset {
    border: none;
    display: grid;
    gap: 1rem;

    legend {
      font-size: larger;
      margin-bottom: 1rem;
    }
  }
}
