$green: #5be080;
$orange: #f48d69;

// For styling all input fields

label {
  display: grid;
  gap: 5px;
  position: static;

  input {
    align-self: stretch;
    padding: 10px;
    border: 1px solid #21212133;
    background: rgb(240, 240, 240);
  }

  input:valid:not(:placeholder-shown, :focus) {
    border-color: $green;
  }

  input:invalid:not(:placeholder-shown, :focus) {
    border-color: $orange;
  }

  input:invalid:not(:placeholder-shown, :focus) + .error {
    max-height: 2rem;
  }

  .error {
    color: $orange;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s max-height;
  }
}
